html,
body {
  font-family: Roboto, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

input {
  position: relative;
  left: 20px;
}

main,
.row,
.col-md-9 {
  height: 100%;
}


