html,
body {
  font-family: Arial, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#pageTitle{
  position: fixed;
  right: 5px;
  top: 0px;
  width: 30%;
}

#search {
  position: fixed;
  left: 20px;
  top: 50px;
  height: 30px;
  width: 20%;
  font-size: 15px;
}

#toggleList {
  position: fixed;
  top: 95px;
  left: 20px;
  height: 30px;
  width: 20%;
  font-size: 12px;
  background-color: #fff;
}

#list-view {
  display: inline-block;
  position: fixed;
  height:35%;
  overflow: auto;
  top: 135px;
  left: 20px;
  width: 20%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

@media only screen and (max-width: 500px) {
    #list-view {
    display: none;
    position: fixed;
    height:35%;
    overflow: auto;
    top: 135px;
    left: 20px;
    width: 20%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

    #search {
    position: fixed;
    left: 20px;
    top: 50px;
    height: 30px;
    width: 20%;
    font-size: 8px;
  }

    #toggleList {
    position: fixed;
    top: 95px;
    left: 20px;
    height: 30px;
    width: 20%;
    font-size: 8px;
    background-color: #fff;
}
}
